@model IEnumerable<HawkBlog.Models.Post>
@using HawkBlog.Extensions;
@{ 
    SlugGenerator slugGen = new SlugGenerator();
}

@foreach (var item in Model)
{
    string url = slugGen.GenPostUrl(item.PostDatePub.Year, item.PostDatePub.Month, item.PostSlug);

    <div class="blog-post">
        <h2 class="blog-post-title">@item.PostTitle</h2>
        <p class="blog-post-meta">@item.PostDatePub.ToString("D") in <a>@item.PostCategory.CatName</a></p>

        <p>
            @item.PostShortDesc
        </p>
        <p>
            <a class="btn btn-info" href="@url">
                Continue Reading...
            </a>
        </p>

    </div><!-- /.blog-post -->
}