@model IEnumerable<HawkBlog.Models.Post>
@{
    ViewData["Title"] = "Index";

    bool isFirstPage = false;
    bool isLastPage = false;

    if (int.Parse(ViewData["currentPage"].ToString()) == 1)
    {
        isFirstPage = true;
    }
    if (ViewData["currentPage"].ToString() == ViewData["maxPages"].ToString())
    {
        isLastPage = true;
    }

    int nextPage = int.Parse(ViewData["currentPage"].ToString()) + 1;
    int prevPage = int.Parse(ViewData["currentPage"].ToString()) - 1;
}

<main role="main" class="container">

    <div class="row">
        <h1>Blog</h1>
        <div class="col-sm-8 blog-main">
            @foreach (var item in Model)
            {
            
            <div class="blog-post">
                <h2 class="blog-post-title">@item.PostTitle</h2>
                <p class="blog-post-meta">@item.PostDatePub.ToString("D") in <a>@item.PostCategory.CatName</a></p>

                <p>
                    @item.PostShortDesc<br />
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.PostID">
                        Continue
                    </a>
                </p>

            </div><!-- /.blog-post -->
            }
            @if (!isFirstPage)
            {
                <a class="btn btn-outline-secondary" href="?page=@prevPage">Previous</a>
            }
            @if (!isLastPage)
            {
                <a class="btn btn-outline-primary" href="?page=@nextPage">Next</a>
            }

        </div><!-- /.blog-main -->

        @await Html.PartialAsync("_Sidebar");

    </div><!-- /.row -->

</main><!-- /.container -->