@model HawkBlog.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostShortDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostShortDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostSlug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostSlug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostDatePub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostDatePub)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostLastModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostLastModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isPublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostCategory.CatID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
