@model IEnumerable<HawkBlog.Models.Post>
@{
    ViewData["Title"] = "Manage Posts";
    Layout = "_DashLayout";
}

<a asp-action="Index" asp-controller="Dashboard" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</a>

<h2>Manage Posts</h2>
<a asp-action="NewPost" class="btn btn-primary"><i class="fas fa-edit"></i> New Post</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PostTitle)</th>
                <th>@Html.DisplayNameFor(model => model.PostShortDesc)</th>
                <th>@Html.DisplayNameFor(model => model.PostDatePub)</th>
                <th>@Html.DisplayNameFor(model => model.PostLastModified)</th>
                <th>@Html.DisplayNameFor(model => model.isPublished)</th>
                <th>@Html.DisplayNameFor(model => model.PostCategory)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-action="EditPost" asp-route-id="@item.PostID">@Html.DisplayFor(modelItem => item.PostTitle)</a></td>
                    <td>@Html.DisplayFor(modelItem => item.PostShortDesc)</td>
                    <td>@Html.DisplayFor(modelItem => item.PostDatePub)</td>
                    <td>@Html.DisplayFor(modelItem => item.PostLastModified)</td>
                    @if (item.isPublished)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    <td>@Html.DisplayFor(modelItem => item.PostCategory.CatName)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#postHomeLink').addClass('active');
        });
    </script>
}